@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
}

h5 {
  border: 2px solid red;
  text-align: center;
  padding: 10px;
}

.title {
  background-color: gray;
  text-align: center;
}

.movie-list {
  width: 525px;
  border-width: thin;
  border-color: black;
  border-style: solid;
  text-align: center;
  float: left;
}

.container {
  width: 550px;
}

.placeholder {
  height: 100px;
}

button {
  float:right;
}

.toggleButtons {
  float: left;
}